/* div {
    color: red;
    text-align: center;
} */

/* h1 {
    color: blue;
}

h2 {
    color: blue;
} */

.class1 {
    color: purple;
}

/* div {
    color: red;
} */

#id1 {
    color: blue;
}

#id2 {
    color: rebeccapurple;
}